@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Open Story</h1>
    <p class="lead"> Open Story is a platform for anyone to come and tell their story of any kind. Feel free to post any ideas you want to share</p>
    @Html.ActionLink("Register now to start posting","Register","Account", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
  
</div>