@model OpenStory.Models.StoryListPartialViewModel



<a href="@Url.Action("Topic/" + Model.Story.Id,"Stories")" class="tight">
    <div class="row ">
        <div class="col-sm-6">
            <h3>@Model.Story.Title</h3>
        </div>
        <div class="col-sm-4">
            <h4>@Model.Story.ApplicationUser.Name</h4>
        </div>
        <div class="col-sm-2">
            <h4>@Model.Story.PostDate</h4>
        </div>
    </div>
    <hr class="tight" />
</a>



