body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
.identity input,
.identity select,
.identity textarea {
    max-width: 280px;
}

.row {
    display: flex;
    align-items: center;
}

.transparent li:hover {
    background: #4E5D6C;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
}


.tight {
    margin: 0;
}

a {
    color: white;
    text-decoration: none; /* no underline */
}
a:hover{
    color:white;
}